html {
  background-color:gray;
  margin:0;
}
header, body, footer {
  width:1000px;
  margin:0;
  margin-left:auto;
  margin-right:auto;
}
header {
  background-color:red;
}
body {
  background-color:white;
}
footer {
  background-color:green;
}
