header {
  background-color:FF0000;
  height:100px;
}
.logo {
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  float:left;
}
.navbar {
  float:left;
}
.navbarlist {
  text-align:center;
}
.companyname {
  font-family:Verdana;
  font-style:italic;
  font-style:bold;
  margin-left:30px;
}
.listitem {
  float:left;
  margin-left:30px;
  margin-right:30px;
}
.active {
  float:left;
  background-color:FFFFFF;
  margin-left:30px;
  margin-right:30px;
}
