body {
width:1000px;
height:5000px;
text-align:center;
margin:0px;
}
.margin {
width:10%;
height:100%;
float:left;
background-color:gray;
}
.main {
width:40%;
height:100%;
float:left;
background-color:white;
}
